name: Nginx 8.2

on:
  workflow_dispatch:

jobs:
  push:
    name: "nginx-docker-container:8.2"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker/setup-qemu-action@v1
      - uses: docker/setup-buildx-action@v1
        with:
          version: "v0.5.1"
          buildkitd-flags: --debug
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./dockerfiles/php-8.2
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/helkor-eu/nginx-docker-container:8.2
